{% extends '_helpers/_base.html' %}

{% block content %}
    <a href="{% url 'contacts:contact_create' %}">
        <button>
            Create new contact
        </button>
    </a>
    <ol>
        {% for contact in object_list %}
            <li>
                <p> {{ contact.user_name }}

                    <a href="{% url 'contacts:contact_update' pk=contact.id %}">
                        <button class="btn btn-warning">
                            Edit
                        </button>
                    </a>

                    <a href="{% url 'contacts:contact_delete' pk=contact.id %}">
                       <button class="btn btn-danger">
                           Delete
                       </button>
                    </a>

                    <a href="{% url 'contacts:contact_detail' pk=contact.id %}">
                        <button class="btn btn-info">
                            Full info
                        </button>
                    </a>
                </p>
                {% if contact.department is not None%}
                    <p>Department: {{ contact.department }}</p>
                {% endif %}
                <p>Phone number: {{ contact.phone_number }}</p>
            </li>
        {% endfor %}
    </ol>
{% endblock %}